# Ignore node_modules directory
node_modules

# Ignore npm debug log
npm-debug.log

# Ignore build directory (generated during build process)
build

# Ignore Docker configuration files
Dockerfile
.dockerignore

# Ignore Git-related files
.git

# Ignore Markdown documentation files
*.md

.gitignore